[submodule "src/inochi-creator"]
	path = src/inochi-creator
	url = https://github.com/Inochi2D/inochi-creator.git
[submodule "src/inochi-session"]
	path = src/inochi-session
	url = https://github.com/Inochi2D/inochi-session.git
