[submodule "src/inochi-creator"]
	path = src/inochi-creator
	url = https://github.com/Inochi2D/inochi-creator.git
[submodule "src/inochi2d"]
	path = src/inochi2d
	url = https://github.com/Inochi2D/inochi2d
[submodule "src/facetrack-d"]
	path = src/facetrack-d
	url = https://github.com/Inochi2D/facetrack-d.git
[submodule "src/vmc-d"]
	path = src/vmc-d
	url = https://github.com/Inochi2D/vmc-d.git
[submodule "src/inmath"]
	path = src/inmath
	url = https://github.com/Inochi2D/inmath.git
[submodule "src/psd-d"]
	path = src/psd-d
	url = https://github.com/Inochi2D/psd-d.git
[submodule "src/fghj"]
	path = src/fghj
	url = https://github.com/Inochi2D/fghj.git
[submodule "src/i18n"]
	path = src/i18n
	url = https://github.com/KitsunebiGames/i18n.git
[submodule "src/dportals"]
	path = src/dportals
	url = https://github.com/Inochi2D/dportals.git
[submodule "src/bindbc-spout2"]
	path = src/bindbc-spout2
	url = https://github.com/Inochi2D/bindbc-spout2.git
[submodule "src/inui"]
	path = src/inui
	url = https://github.com/Inochi2D/inui.git
[submodule "src/inochi-session"]
	path = src/inochi-session
	url = https://github.com/Inochi2D/inochi-session.git
[submodule "src/i2d-imgui"]
	path = src/i2d-imgui
	url = https://github.com/Inochi2D/i2d-imgui.git
[submodule "src/i2d-opengl"]
	path = src/i2d-opengl
	url = https://github.com/Inochi2D/i2d-opengl.git
